@model Portfolio.Entity.Post

@{
  ViewBag.Title = $"{Model.Title} - Post";
  Layout = "_Layout";
}

<!-- +++++ Post +++++ -->
<div id="white">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <p>
          <img src="~/img/user.png" width="50px" height="50px" alt="">
          <ba><a asp-controller="Profile" asp-action="Users" asp-route-userId="@Model.AuthorId">@Model.Author.Name @Model.Author.LastName</a></ba>
        </p>
        <p>
          <bd>@Model.Date.ToString("d")</bd>
        </p>
        <h4>@Model.Title</h4>
        <p><img class="img-responsive" src="img/blog01.jpg" alt=""></p>
        @Html.Raw(Model.Text)
        <br>
        <p>
          <bt>TAGS: 
            @foreach (var tag in Model.Tags)
            {
              <a class="badge" href="#"><b>@tag.Name</b></a>
            }
          </bt>
        </p>
        <hr>
        <p><a asp-action="Index"># Back</a></p>
      </div>

    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>
<!-- /white -->